/* https://www.w3schools.com/css/css_pseudo_elements.asp */

p.intro::first-letter {
  color: #ff0000;
  font-size: 200%;
}



/* https://www.w3schools.com/css/tryit.asp?filename=trycss3_text-shadow7 */

h1 {
  color: #70C7B2;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-align: center
}



/* https://www.w3schools.com/css/tryit.asp?filename=trycss_outline_intro */

div {
  border: 2px solid #4CAF50;
  margin: auto;
  text-align: center;
}



/* https://www.freecodecamp.org/news/css-background-image-with-html-example-code/ */

body {
    background-image: linear-gradient(to left, #3e8f69, #8d8f3e);
}



/* https://www.w3schools.com/css/css_form.asp */

input[type=text], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[type=submit]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}



/* https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_dividers */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #139;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #159;
}

.active {
  background-color: #ff5d28;
}



/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dividers */
/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}



/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate1 */
.button {
  background-image: linear-gradient(to left, #3e8f69, #FFFFFF);
  border-radius: 4px;
  border: none;
  color: darkblue;
  text-align: center;
  font-size: 28px;
  padding: 80px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



/* https://www.digitalocean.com/community/tutorials/how-to-use-flask-sqlalchemy-to-interact-with-databases-in-a-flask-application */
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.elem {
    flex: 20%;
    padding: 10px;
    margin: 5px;
    background-color: #f3f3f3;
    inline-size: 100%;
}